<div class="agenda__container">
    <div class="buttons_next_prev_agenda">
        <button (click)="nextMonthFirstDay(currentDate)">
            <mat-icon>first_page</mat-icon>
        </button>
        <button (click)="changeMonth('prev')">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button (click)="prevDay()">
            <mat-icon fontIcon="navigate_before"></mat-icon>
        </button>        
        <button (click)="nextDay()">
            <mat-icon fontIcon="navigate_next"></mat-icon>
        </button>
        <button (click)="changeMonth('next')">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        <button (click)="prevMonthFirstDay(currentDate)">
            <mat-icon>last_page</mat-icon>
        </button>        
        <h2>{{ currentDate | date: 'EEEE, d MMMM, y'}}</h2>
    </div>
    <div class="agenda__content">
        <app-datepicker
            [childData]="currentDate" (dataChangedChild)="handleDataChange($event)"
        ></app-datepicker>
        <app-fullcalendar class="agenda__fullcalendar"></app-fullcalendar>
    </div>
</div>