.header {
    background: #003267;
    background: linear-gradient(to right, #011329 0%, #066297 44%, #033777 100%);
    padding: 20px 10px;
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.header a {
    color: white;
    text-decoration: none;
}

.div-all{
    margin-top: 10px;
    position: relative;
}

.div-conteudo {
  padding-bottom: 30px;
  height: 1200px;
}

@media(max-width: 576px) {
  .container-agendas {
    display: block;
  }
}

@media(min-width: 577px) {
  .container-agendas {
    display: flex;
  }
}

.div-datepicker{
    margin-right: 10px;
    padding:0px 0px 0px 10px;
}

.div-fullcalendar{
    flex-grow: 1
}