.header {
    background: #003267;
    background: linear-gradient(to right, #011329 0%, #066297 44%, #033777 100%);
    padding: 5px 10px;
    color: white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.header a {
    color: white;
    text-decoration: none;
}

.div-all{
    margin-top: 10px;
    position: relative;
}

.div-conteudo {
  padding-bottom: 30px;
  height: 0px;
}

@media(max-width: 576px) {
  .container-agendas {
    display: block;
  }
}

@media(min-width: 577px) {
  .container-agendas {
    display: flex;
  }
}

.div-datepicker{
    margin-right: 10px;
    padding:0px 0px 0px 10px;
}

.div-fullcalendar{
    flex-grow: 1
}

.buttonsPrevNext{
    display: flex;
    margin: 20px 5px 5px 5px
}

#dataSelecionada{
    display: flex;
    margin: 0px 10px 0px 10px
}

.viewTimeGrid{
    display: flex;
    margin: 5px 5px 5px 50px
}

.fc .fc-toolbar-title {
  font-size: 1.00em;
}

#todayButton{
    display: flex;
    margin: 5px 5px 5px 5px
}

.fc .fc-timegrid-cols{
    height: 0px /*remove cor fundo padrão do timeGridDay*/
}


@media(max-height: 664px) {
  #calendar{
    height: 510px;
    /*background-color:blue*/
  }
}

@media(max-height: 540px) {
  #calendar{
    height: 420px;
    /*background-color:blue*/
  }
}

@media(max-height: 446px) {
  #calendar{
    height: 390px;
    /*background-color:blue*/
  }
}


@media(max-height: 340px) {
  #calendar{
    height: 1120px;
    /*background-color:red*/
  }
}

@media(min-height: 700px) {
  #calendar{
    height: 620px;
  }
}

@media(min-height: 800px) {
  #calendar{
    height: 720px;
  }
}

@media(min-height: 900px) {
  #calendar{
    height: 880px;
}

@media(min-height: 1200px) {
  #calendar{
    height: 1180px;
}

